<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <% if user_signed_in? %>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.text_field :word %>
              <%= f.select :model_name, [['User', 1], ['Book', 2]], { selected: 1 }, {} %>
              <%= f.select :how, [['完全一致', 1], ['前方一致', 2], ['後方一致', 3], ['部分一致', 4]], { selected: 1 }, {} %>
              <%= f.submit "検索" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="container">
      <p id="notice"><%= notice %></p>
    <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
